/* color name source: http://chir.ag/projects/name-that-color/#5F9EA0 */
$breaker-bay-approx: #5f9ea0;

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-container {
  font: 14px Montserrat, sans-serif;
  font-weight: 400;
  color: $breaker-bay-approx;
}
.nuxt-link-active,
.no-link-styles {
  text-decoration: none;
  color: inherit;
}